canvas{
    border: 1px solid black;
}
.regular{
    border: 1px solid black;
    font-style: normal;
}
.error{
    border: 1px solid red;
    font-style: italic;
}

.engaged{
    border: 2px solid green;
    font-style: bold;
}

